body,
html {
    background-color: #fd9644;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    width: 90vw;
    height: 30vh;
}
.parent-metronome {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    width: 100vw;
    height: 100vh;
}


.random-color-button {

    width: 120px;
    padding: 40px;
    font-size: 16px;
    cursor: pointer;
}
